body{
  background-color: lightblue;
}
h1{
  font-size: 3rem
  }
h2, p, .bottom{
  font-size: 2rem;
}
img{
   width: 50%;
}
button{
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;
}
.bottom{
    position: relative;
    left: 0;
    top: 1rem;
}
